<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<body>
<div th:fragment="navbar (currentUser, currentCustomer)">
    <div style="padding: 5px 10px">
        <div class="topnav">
            <th:block th:if="${currentUser}">
                <a th:if="${currentUser.role == T(whz.informatik.coffeeshop.security.domain.Role).ADMIN}" th:href="@{/users_managed}" style="float: left">
                    Nutzer Administration
                </a>
            </th:block>
            <div class="topnav-right">
                <th:block th:if="${currentUser}">
                    <th:block th:if="${currentCustomer}">
                        <a th:href="@{'/shoppingCart?id=' + ${currentCustomer.id}}">Warenkorb</a>
                        <a th:href="@{'/profile?id=' + ${currentUser.id}}" th:text="${'Profile: ' + currentUser.loginName}"/>
                    </th:block>
                    <a href="/logout">Logout</a>
                </th:block>
                <th:block th:unless="${currentUser}">
                    <a href="/login">Login</a>
                </th:block>
            </div>
        </div>
    </div>
</div>

<div th:fragment="heading (txt)">
    <a href="/">
        <div class="container container-header">
            <header>
                <h1 class="text-center" th:text="${txt}">Willkommen</h1>
            </header>
        </div>
    </a>
</div>

<div th:fragment="listProducts (products,currentCustomer)">
    <br>
    <div class="section-title h4">Produkte</div>
    <br>
    <table class="table table-hover table-bordered table-sm"
           th:if="${products != null}">
        <thead class="thead-light">
        <tr>
            <!--<th scope="col">ID</th>-->
            <th scope="col">Name</th>
            <th scope="col">Beschreibung</th>
            <th scope="col" style="text-align:center">Preis</th>
            <th scope="col">ProduktTyp</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <!--<td><span th:text="${product.id}"/></td>-->
            <td>
                <span th:if="${currentCustomer}" class="clickable" th:onclick="'showProductModal(' + ${product.id} + ',\'' + ${product.name} + '\');'" th:text="${product.name}"/>
                <span th:unless="${currentCustomer}" th:text="${product.name}"></span>
            </td>
            <td><span th:text="${product.description}"/></td>
            <td style="text-align:right"><span th:text="${product.price}"/><span th:text="${product.currency}"/></td>
            <td><span th:text="${product.productType.name}"/></td>
        </tr>
        </tbody>
    </table>
    <div id="addProductModal" class="modal">
        <form class="animate" th:action="@{/addToCart}" method="post">
            <div class="col-xs-4 col-sm-4 col-md-4 modal-content">
                <div class="row">
                    <div class="col-xs-11 col-sm-11 col-md-11"></div>
                    <div class="col-xs-1 col-sm-1 col-md-1">
                        <span onclick="closeProductModal()" class="close" title="Close Modal">&times;</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <label for="productToAdd">Produkt</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <span id="productToAdd" style="width:100%" placeholder="Produkt..."></span>
                        <input type="hidden" id="productId" name="productId" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <label for="quantity">Anzahl</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input type="number" id="quantity" name="amount" style="width:100%;" min="1" value="1" autofocus="autofocus" required/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6"></div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-outline-primary" style="margin-bottom: 1em; float: right" value="Warenkorb hinzuf&uuml;gen"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        function showProductModal(productId,product) {
            $('#productToAdd').text(product);
            $('#productId').val(productId);
            $('#quantity').val(1);
            $('#addProductModal').css("display", "inline-block");
        }

        function closeProductModal() {
            $('#addProductModal').css("display", "none");
        }
    </script>
</div>

<div th:fragment="users_managed (customers)">
    <br>
    <div class="section-title h4">Kunden</div>
    <br>
    <table class="table table-hover table-bordered table-sm"
           th:if="${customers != null}">
        <thead class="thead-light">
        <tr>
            <!--<th scope="col">ID</th>-->
            <th scope="col">Vornameame</th>
            <th scope="col">Nachnameame</th>
            <th scope="col">Login</th>
            <th scope="col"></th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">

            <td th:text="${customer.firstName}" />
            <td th:text="${customer.lastName}" />
            <td th:text="${customer.loginName}" />
            <td>
                <a href="#">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>

        </tr>
        </tbody>
    </table>

</div>

<div th:fragment="myShoppingCart (actualCart,summedPrice)">
    <br>

    <br>
    <table class="table table-hover table-bordered table-sm"
           th:if="${actualCart.items != null}">
        <thead class="thead-light">
        <tr>
            <!--<th scope="col">ID</th>-->
            <th scope="col">Artikel</th>
            <th scope="col">Anzahl</th>
            <th scope="col">Preis</th>
            <th scope="col"></th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${actualCart.items}">

            <td th:text="${item.product.name}" />
            <td th:text="${item.quantity}" />
            <td th:text="${item.product.price}" />
            <td>
                <a th:href="@{'/deleteItemFromCart?itemId=' + ${item.id}}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
    <div class="container-fluid">
        <div class="row">
            <a class="col-md-9" style="font-weight: bold"></a>
            <a style="font-weight: bold">Summe: </a>
            <a class="col-md-2" style="font-weight: bold" th:text="${summedPrice}+' &euro;'"></a>
        </div>
        <div class="row">
            <a class="col-md-9" style="font-weight: bold"></a>

            <button type="button" class="btn btn-success" action="/sentOrder" >Jetzt kostenpflichtig Bestellen</button>
        </div>
    </div>



</div>

<div th:fragment="myAccount (userAccount)">
    <br>

    <br>

    <div class="container-fluid">
        <div class="row">
            <a class="col-md-2" style="font-weight: bold">Name: </a>
            <a th:text="${userAccount.lastName}" />
        </div>
        <div class="row">
            <a class="col-md-2" style="font-weight: bold">Vorname: </a>
            <a th:text="${userAccount.firstName}" />
        </div>
        <div class="row">
            <a class="col-md-2" style="font-weight: bold">Login Name: </a>
            <a th:text="${userAccount.loginName}" />
        </div>

    </div>
    <br><br>
    <h4>Meine Adressen:</h4>
    <table class="table table-hover table-bordered table-sm"
           th:if="${userAccount.addressList != null}">
        <thead class="thead-light">
        <tr>
            <!--<th scope="col">ID</th>-->
            <th scope="col">Straße</th>
            <th scope="col">Hausnummer</th>
            <th scope="col">PLZ</th>
            <th scope="col">Stadt</th>
            <th scope="col"></th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${userAccount.addressList}">
            <form action="/deleteAddress" method="POST">
                <input type="text" hidden="true" name="addressId" th:value="${address.id}"></input>
            <td th:text="${address.street}" />
            <td th:text="${address.housenumber}" />
            <td th:text="${address.zipCode}" />
            <td th:text="${address.town}" />
            <td>
                <a>
                    <input type="submit" id="del" hidden="true"/>
                    <span onclick="$('#del').click();" class="glyphicon glyphicon-trash"></span>
                </a>&nbsp;&nbsp;
             </form>
                <a >
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
            </td>

        </tr>
        <tr>
            <form action="/addAdress" method="POST">
            <td><input type="text" name="street" /></td>
            <td><input type="text" name="housenumber" /></td>
            <td><input type="text" name="zipCode" /></td>
            <td><input type="text" name="town" /></td>
            <td>

                    <input type="submit" id="subm" hidden="true"/>
                    <span onclick="$('#subm').click();" class="glyphicon glyphicon-plus"></span>


            </td>
            </form>
        </tr>
        </tbody>
    </table>



</div>

</body>
</html>