<html lang="de" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>EvaChatApp - Fehler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
</head>
<body>
<h3>some errors</h3>
<h1 th:text="${errorCode}">XXX</h1>
<p th:text="${errorMessage}">Error</p>
<a href="/" th:href="@{/}">Back to Home Page</a>
</body>
</html>