<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<head th:replace="fragments/header :: head">
    <meta charset="utf-8">
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/register.css}" media="screen" />
<script type="text/javascript" th:src="@{/js/register.js}"></script>

<body>

<form id="regForm" class="bs-example error" th:action="@{#/users/create}" th:object="${newCustomerForm}" method="post" role="form">
    <h1>Registrierung:</h1>
    <!-- One "tab" for each step in the form: -->
    <div class="tab">Kontakt Info:
        <p><input placeholder="First name..." name="firstName" required="required" autofocus="autofocus"></p>
        <p><input placeholder="Last name..." name="lastName" required="required" autofocus="autofocus"></p>
        <p><input placeholder="E-mail..." name="email" required="required" autofocus="autofocus"></p>
    </div>
    <div class="tab">Login Info:
        <p><input placeholder="Login name..." name="loginName" required="required" autofocus="autofocus"></p>
        <p><input placeholder="Password..." name="password" type="password" required="required" autofocus="autofocus"></p>
        <p><input placeholder="Password repeated..." name="passwordRepeated" type="password" required="required" autofocus="autofocus"></p>
    </div>
    <div class="tab">Adress Info:
        <p><input type="text" name="street" placeholder="street" required="required" autofocus="autofocus"/></p>
        <p><input type="text" name="housenumber" placeholder="housenumber" required="required" autofocus="autofocus"/></p>
        <p><input type="text" name="zipCode" placeholder="zipCode" required="required" autofocus="autofocus"/></p>
        <p><input type="text" name="town" placeholder="town" required="required" autofocus="autofocus"/></p>
    </div>
    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>

<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the crurrent tab
</script>
</body>
</html>
