<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="fragments/header :: head">
    <meta charset="utf-8">
</head>
<body>
<div th:replace="fragments/body :: navbar (${currentUser}, ${currentCustomer})"></div>
<br>
<div th:replace="fragments/body :: heading ('Mein Warenkorb')" class="container"></div>

<div class="container">
    <div>
        <th:block th:if="${not #lists.isEmpty(actualCart.items)}">
            <br>
            <br>
            <form action="/sentOrder">
                <table class="table table-hover table-bordered table-sm"
                       th:if="${actualCart.items != null}">
                    <thead class="thead-light">
                    <tr>
                        <!--<th scope="col">ID</th>-->
                        <th scope="col">Artikel</th>
                        <th scope="col">Anzahl</th>
                        <th scope="col">Preis</th>
                        <th scope="col"></th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${actualCart.items}">

                        <td th:text="${item.product.name}"></td>
                        <td th:text="${item.quantity}" ></td>
                        <td th:text="${item.product.price}" ></td>
                        <td>
                            <a th:href="@{'/deleteItemFromCart?itemId=' + ${item.id}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <div class="container-fluid">
                    <div class="row">
                        <a class="col-md-9" style="font-weight: bold"></a>
                        <a style="font-weight: bold">Summe: </a>
                        <a class="col-md-2" style="font-weight: bold" th:text="${summedPrice}+' &euro;'"></a>
                    </div>
                    <div class="row">
                        <a class="col-md-9" style="font-weight: bold"></a>

                        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#OrderedModal" >Jetzt kostenpflichtig Bestellen</button>

                        <!-- Modal -->
                        <div class="modal fade" id="OrderedModal">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Vielen Dank f&uuml;r ihre Bestellung</h5>

                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(actualCart.items)}">
            Ihr Warenkorb ist leer
        </th:block>
    </div></div>

<div style="height: 65px"></div>
<div th:include="fragments/footer :: footer" class="footer"></div>
</body>
</html>