<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="fragments/header :: head">
    <meta charset="utf-8">
</head>
<body>
<div th:replace="fragments/body :: navbar (${currentUser}, ${currentCustomer})"></div>
<br>
<div th:replace="fragments/body :: heading ('Nutzer-Administration')" class="container"></div>

<div class="container">

    <div>
        <br>
        <div class="section-title h4">Kunden</div>
        <br>
        <table class="table table-hover table-bordered table-sm"
               th:if="${listCustomer != null}">
            <thead class="thead-light">
            <tr>
                <th scope="col">KundenID</th>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Login</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer,iterState : ${listCustomer}">
                <td th:text="${customer.id}"/>

                <td>
                <a th:href="@{'/profile?id=' + ${listUser[__${iterState.index}__].id}}"
                   th:text="${customer.firstName}"/>
                <td/>
                <td th:text="${customer.lastName}" />
                <td th:text="${customer.loginName}" />
                <td>
                    <form action="/users/delete" onsubmit="return confirm('Wirklich unwiderruflich l&ouml;schen?');" method="post">
                        <button type="submit" id="userid"  name="userid" th:value="${listUser[__${iterState.index}__].id}" style="background: none; border: none;">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div style="height: 80px"></div>
<div th:include="fragments/footer :: footer" class="footer"></div>
</body>
</html>